h2,
h3,
.main--img,
[class^="details"] {
	margin-bottom: 2rem;
}



header {
	h1 {
		display: block;
		img {
			display: block;
			margin: 0 auto;
			width: 80%;
			height: auto;
		}
		strong {
			display: none;
		}
	}
}

.intro--panel {
	background-color: darkred;
	background:url(../img/wood-texture.jpg) no-repeat;
	background-size: cover;
}

.main__content {
	width: auto;
	color: #fff;
	background-color: black;

	.main--img {
		width: 80%;
		max-width: 270px;
		height: auto;
		margin: 0 auto;
		padding: 5rem 0 60px;
		position: relative;
		background: url(../img/wine-bottle-reflection.png) no-repeat 0 100%;
			background-size: 100%;

		// &::after {
		// 	content: " ";
		// 	display: block;
		// 	width: 100%;
		// 	padding-top: 100%;
		// 	background: url(../img/wine-bottle-reflection.png) no-repeat 0 0;
		// 	background-size: 100%;
		// 	opacity: .3;
		// 	position: absolute;
		// 	bottom: -21.5%;
		//}

		img {
			width: 100%;
			height: auto;
		}
	}
}

/* WINE DETAILS
============================================================================*/
.details__anect {

	blockquote {
		width: 75%;
		margin: 0 auto;
		position: relative;

		&::before,
		&::after {
			font-size: 8rem;
			position: absolute;
		}

		&::before {
			content:'«';
			top: -3rem;
			left: -4rem;
		}

		&::after {
			content:'»';
			bottom: -2rem;
			right: -3rem;
		}
	}
}

.details__variet {

	ul {
		display: flex;
		flex-direction: column;
		height: 300px;
	}
	li {
		position: relative;
		margin-bottom: 0;

		&:nth-of-type(1) {
			flex-basis: 50%;
			background-color: red;
		}
		&:nth-of-type(2) {
			flex-basis: 40%;
			background-color: green;
		}
		&:nth-of-type(3) {
			flex-basis: 10%;
			background-color: blue;
		}
	}
	.details__variet--percent {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.details__vinif {
	ol {
		display: flex;
		flex-direction: column;
		height: 300px;
		justify-content: space-around;
	}

	li {
	}
}

.details__serv {


	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;

		text-align: center;
	}
	li {
		flex-basis: 30%;
		position: relative;
		padding-top: 15%;
		border:1px solid grey;

		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left: 50%;
			padding-top: 20%;
			width: 20%;
			background: url(../img/lungarotti-sprite-pictos.svg) no-repeat;
			background-size: 100%;
		}
	}
}

.details__sizes {
height: 100%;

	ul {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: url(../img/wine-bottle-silhouette.svg) no-repeat;
		margin: 0 auto;


	}
	li {
		position: relative;
		border-top: 1px solid #fff;
		width: 50%;

		&:nth-of-type(1) {
			flex-basis: 12.5%;
			order: 3;
		}
		&:nth-of-type(2) {
			flex-basis: 25%;
			order: 2;
		}
		&:nth-of-type(3) {
			flex-basis: 50%;
			order: 1;
		}
	}
}


/* ASIDE
============================================================================*/

.aside__awards {

	ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}

	li {
		position: relative;
		margin: 0 auto 5rem;
		width: 45%;
		max-width: 150px;
		text-align: center;

		&::before {
			display: block;
			content: attr(data-hover);
			font-size: 5rem;
			width: 100%;
		}
		q,
		cite {
			display: block;
		}
		span,
		time {
			display: inline-block;
		}
	}
}


